#注意点
- Flutter + Firebase + Riverpod + Freezed を使用し、MVVMアーキテクチャで実装
- 必要なパッケージはインストール済みです。それでも足りない場合は私に質問して指示に従ってください。
- modelsに必要なデータ項目は作成済みです。勝手に追加、修正しないでください。修正が必要な場合は私に質問して指示に従ってください。
- android、iosのみなので、勝手にlinux、macos、windowsのフォルダを作成しないでください。
- 私の行った指示は全て実行してください。
- 私が行っていない指示は実行せず、必要であれば指示を仰いでください。すでに完成した機能の修正を行わないでください。
- 修正したい対象のファイルを探したりする場合は、ファイルを開くのではなく、コマンドを実行して検索してください。
